<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cusco - Acompanhamento</title>

    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/acompanhamento.css') }}">
    <!-- Fim 'link' arquivo CSS-->
</head>


<body>
 
    <div class="container-fluid">
    
    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="{{ url_for('meuspets') }}">
            Cusco
        </a>
    </header>
   
    <!--Navbar que vai ao fundo-->
    <nav>
    <div class="barra">
        <ul class="nav">
            <li>
                <div class="btnMeusPets">
                    <a id="meusPets" href="{{ url_for('meuspets') }}"> 
                        <img class="iconNavbar" src="/static/img/petIconGray.png" alt="">Meus Pets
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id= "acompanhamento" href="{{ url_for('acompanhamento') }}"><img class="iconNavbar" id="iconHeart" src="/static/img/iconHeartBlue.png" alt="">
                        Acompanhamento
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id="meuperfil" href="{{ url_for('meuperfil') }}">
                        <img class="iconNavbar" id="userIcon" src="/static/img/userIcon.png">
                        Meu Perfil
                        
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
    <!--Fim da nav-->

  
     
    <!-- Se houver, carrega mensagens do flash-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="login-form">
        <div class="box">
            <div class="alert alert-warning">
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div> 
        </div>
        </div>
        {% endif %}
    {% endwith %}
        
 
    


    {% if dog_data != 0 %}
    {% for dogs in range(dogs_in_list) %}  

    <div class="login-form">
       
        {% if dog_status == "ok"  %}
        <!--Essa cor aqui varia conforme a condição do cão-->
        <div class="box" style="background: linear-gradient(180deg, #53CB1A -70.41%, rgb(255, 255, 255) 87%);">            
              

                <div class="dog1">
                <div class="fotoDog">
                    <img src="/static/img/petIcon.png" alt="">
                    <h5>{{ dog_data[dogs][0] }}</h5>
                </div>

                <div class="estado" style="color:#53CB1A;">
                    <h1>55 BPM</h1>
                    <hr id="separador">
                    <img src="/static/img/iconDogCaminhaBem.png" alt="" class="atividade">
                    <label for="img">Caminhada</label>

                    <div class="estado-mensagem">
                        <img src="/static/img/iconOK.png" alt="" id="iconOk">
                        <p>No momento, tudo certo!</p>
                    </div>
                </div>

                <div class="form-group">
                    <a href="{{ url_for('historico', dog_id=dog_data[dogs][0]) }}">
                        <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconNiveis.png" id="img-btn" alt="" > Histórico</button>
                    </a>
                </div>

                <div class="form-group">
                    <a href="{{ url_for('avisos', dog_id=dog_data[dogs][0]) }}">
                        <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconAvisos.png" id="img-btn2" alt=""> Avisos recentes</button>
                    </a>
                </div>
            </div>

            
            
            <hr>
        
        <div class="text-center">
            <a href="{{ url_for('editarpet', dog_id=dog_data[dogs][0]) }}" class="btn">Editar informações</a>      
        </div>
        </div>
        {% elif dog_status == "notok"  %}

        <div class="login-form">
            <div class="box"  style="background: linear-gradient(180deg, #D01E1E -70.41%, rgb(255, 255, 255) 87%);">
      
        
                <div class="dog1">
                    <div class="fotoDog">
                        <img src="/static/img/petIcon.png" alt="">
                        <h5>{{ dog_data[dogs][0] }}</h5>
                    </div>
    
                    <div class="estado" style="color:#D01E1E;">
                        <h1>55 BPM</h1>
                        <hr id="separador">
                        <img src="/static/img/iconDogCorrendoMal.png" alt="" class="atividade">
                        <label for="img">Caminhada</label>
    
                        <div class="estado-mensagem">
                            <img src="/static/img/iconAvisosMal.png" alt="" id="iconOk">
                            <p>Frequência cardíaca alterada!</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <a href="{{ url_for('historico', dog_id=dog_data[dogs][0]) }}">
                            <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconNiveis.png" id="img-btn" alt="" > Histórico</button>
                        </a>
                    </div>
    
                    <div class="form-group">
                        <a href="{{ url_for('avisos', dog_id=dog_data[dogs][0]) }}">
                            <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconAvisos.png" id="img-btn2" alt=""> Avisos recentes</button>
                        </a>
                    </div>
                   
                </div>
    
                
                
                <hr>
    
            <div class="text-center">
                <a href="{{ url_for('editarpet', dog_id=dog_data[dogs][0]) }}" class="btn">Editar informações</a>      
            </div>
            
        </div>
        </div>
        
        {% else  %}

        <div class="login-form">
            <div class="box"  style="background: linear-gradient(180deg, #9E9B9B -70.41%, rgb(255, 255, 255) 87%);">
      
        
                <div class="dog1">
                    <div class="fotoDog">
                        <img src="/static/img/petIcon.png" alt="">
                        <h5>{{ dog_data[dogs][0] }}</h5>
                    </div>
    
                    <div class="estado" style="color:#000000;">
                        <h1>-- BPM</h1>
                        <hr id="separador">
                        <img src="/static/img/iconDogCorrendo.png" alt="" class="atividade">
                        <!--Arrumar aquele caracter que aparece-->>
                        <label for="img">indisponível</label>
                        
                        <!--Arrumar a centralização dessa mensagem-->>
                        <div class="estado-mensagem">
                            <p>Frequência cardíaca indisponível no momento</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <a href="{{ url_for('historico', dog_id=dog_data[dogs][4]) }}">
                            <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconNiveis.png" id="img-btn" alt="" > Histórico</button>
                        </a>
                    </div>
    
                    <div class="form-group">
                        <a href="{{ url_for('avisos', dog_id=dog_data[dogs][4]) }}">
                            <button type="" class="btn btn-secondary btn-block"><img src="/static/img/iconAvisos.png" id="img-btn2" alt=""> Avisos recentes</button>
                        </a>
                    </div>
                   
                </div>
                
                <hr>
    
            <div class="text-center">
                <a href="{{ url_for('editarpet', dog_id=dog_data[dogs][4]) }}" class="btn">Editar informações</a>      
            </div>
            
        </div>
        </div>

        {% endif %}
    </div>
    
    {% endfor %}
    {% endif %}
    
</div>  
</body>
</html>