<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cusco - Avisos</title>

    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS - Ele herda tudo dos meuspets.css porque aplica mesmo layout-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avisos.css') }}">
    <!-- Fim 'link' arquivo CSS-->
</head>


<body>

    <div class="container-fluid">
    
    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="{{ url_for('meuspets') }}">
            Cusco
        </a>
    </header>
   
    <!--Navbar que vai ao fundo-->
    <nav>
    <div class="barra">
        <ul class="nav">
            <li>
                <div class="btnMeusPets">
                    <a id="meusPets" href="{{ url_for('meuspets') }}"> 
                        <img class="iconNavbar" src="/static/img/petIconGray.png" alt="">Meus Pets
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id= "acompanhamento" href="{{ url_for('acompanhamento') }}"><img class="iconNavbar" id="iconHeart" src="/static/img/iconHeartBlue.png" alt="">
                        Acompanhamento
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id="meuperfil" href="{{ url_for('meuperfil') }}">
                        <img class="iconNavbar" id="userIcon" src="/static/img/userIcon.png">
                        Meu Perfil
                        
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
    <!--Fim da nav-->

    <div class="login-form">
        
        <div class="box">
            <div class="dog1">
                <div class="fotoDog">
                    <img src="/static/img/petIcon.png" alt="">
                    <h5>Pet1</h5>
                </div>

        <div class="divPet">
            
            <div class="fotoPet">
              <img src="/static/img/iconAvisosMal.png" alt="">  
            </div>

            <div class="infoPet">
                <h4>23/03/2020</h4>
                <p> 
                    <label>Frequência:</label> 95 BPM <br>
                    <label>Atividade:</label> Parado <br>
                    <label>Hora:</label> 17:25 <br>
                    <label>Frequência normalizada</label> 
                </p>
            </div>
        </div>

        <br>

        <div class="divPet">
            
            <div class="fotoPet">
              <img src="/static/img/iconAvisosMal.png" alt="">  
            </div>

            <div class="infoPet">
                <h4>23/03/2020</h4>
                <p> 
                    <label>Frequência:</label> 95 BPM <br>
                    <label>Atividade:</label> Parado <br>
                    <label>Hora:</label> 17:25 <br>
                    <label>Frequência normalizada</label> 
                </p>
            </div>
        </div>

        <br>

        <div class="divPet">
            
            <div class="fotoPet">
              <img src="/static/img/iconOk.png" alt="">  
            </div>

            <div class="infoPet">
                <h4>01/04/2020</h4>
                <p> 
                    <label>Frequência:</label> 55 BPM <br>
                    <label>Atividade:</label> Parado <br>
                    <label>Hora:</label> 17:25 <br>
                    
                </p>
            </div>
        </div>
        
        <hr>
        <div class="text-center">
            <a href="{{ url_for('acompanhamento') }}"  class="btn"> < Voltar</a>
        </div>
    </div>

    </div>

    


</body>
</html>