<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="CSS/cadastroPetcss.css" >
    <!-- Fim 'link' arquivo CSS-->
</head>
<body>
     <!--
        Header e nav provém da página base, depois de configurado o link correto com o Flask, apagar para teste.
    -->

    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="meuspets.html">
            Cusco
        </a>
    </header>

      <!--Navbar que vai ao fundo-->
      <nav>
        <div class="barra">
            <ul class="nav">
                <li>
                    <div class="btnMeusPets">
                        <a id="meusPets" href="meuspets.html"> 
                            <img class="iconNavbar" src="icons/petIconBlue.png" alt="">Meus Pets
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id= "acompanhamento" href="#"><img class="iconNavbar" id="iconHeart" src="icons/iconHeart.png" alt="">
                            Acompanhamento
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id="meuperfil" href="meuperfil.html">
                            <img class="iconNavbar" id="userIcon" src="icons/userIcon.png">
                            Meu Perfil
                            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <!--Fim da nav-->

    <div class="login-form">
        <!-- precisamos criar nosso arquivo próprio de execução em php-->
        
        <form class="md-form" action="/examples/actions/confirmation.php" method="GET">
            <h2 class="text-left">Editar Pet</h2>       
            
            <!--Input para add foto do pet-->
            <!--Aqui dá para fazer um mini script para adicionar a foto atual do pet (isso é só pra bonito)-->
            <form class="md-form">
                <div class="addFoto">
                    <input type="file" id="inputFile" style="display: none;">
                    <img src="icons/iconAddFoto.png" class="btn-inputFoto" alt="" onclick="document.getElementById('inputFile').click();">
                    <label id="textoPreview" for="btn-inputFoto" onclick="document.getElementById('inputFile').click();">+ Adicionar foto</label>
                </div>
            
        
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome" name="nome-pet" required="required">
                </div>
                
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Idade (em meses)" name="idade-pet" required="required">
                </div>
    
                <div class="form-group">
                    <input type="number" step="0.1" min="0" class="form-control" placeholder="Peso (em Kg)" name="peso-pet" required="required">
                </div>
    

            <!--Select para a raça-->
            <div class="form-group">
                <select class="form-control custom-select custom-select-lg mb-3" name="raca">
                    <option selected value="raca">Raça</option>
                    <option value="vira-lata">Vira-Lata</option>
                    <option value="pastor">Pastor Alemão</option>
                    <option value="salsicha">Salsicha</option>
                    <option value="golden">Golden Retriever</option>
                    <option value="labrador">Labrador</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
            
            <div class="form-group">
                <button type="reset" class="btn btn-danger btn-block">Apagar</button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Salvar</button>
            </div>
           

            <hr>
        <div class="text-center">
            <a href="meuspets.html" class="btn"> < Voltar</a>      
        </div>
        </form> 
        </form>
        
    </div> 
    
    <!--script pra adicionar preview foto de usuário-->
    <script>
        const inputFile = document.getElementById("inputFile")
        const addFoto = document.getElementsByClassName("addFoto")
        const fotoPreview = document.querySelector(".btn-inputFoto")
        const textoPreview = document.getElementById("textoPreview")

        inputFile.addEventListener("change", function(){
            const arquivo = this.files[0];

            if (arquivo){
                const fileReader = new FileReader();

                textoPreview.style.left = "52px"
                textoPreview.textContent = "* Alterar a foto"
                fotoPreview.style.left = "140px"
                
                
                fileReader.addEventListener("load", function(){
                    
                    
                    fotoPreview.setAttribute("src", this.result);
                })

                fileReader.readAsDataURL(arquivo)
            }
        })

    </script>
</body>
</html>