<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cusco - Meu Perfil</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/meuperfilcss.css') }}" >
    <!-- Fim 'link' arquivo CSS-->

</head>
<body>

    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="{{ url_for('meuspets') }}">
            Cusco
        </a>
    </header>

      <!--Navbar que vai ao fundo-->
      <nav>
        <div class="barra">
            <ul class="nav">
                <li>
                    <div class="btnMeusPets">
                        <a id="meusPets" href="{{ url_for('meuspets') }}"> 
                            <img class="iconNavbar" src="/static/img/petIconGray.png" alt="">Meus Pets
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id= "acompanhamento" href="{{ url_for('acompanhamento') }}"><img class="iconNavbar" id="iconHeart" src="/static/img/iconHeart.png" alt="">
                            Acompanhamento
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id="meuperfil" href="{{ url_for('meuperfil') }}">
                            <img class="iconNavbar" id="userIcon" src="/static/img/userIconBlue.png">
                            Meu Perfil
                            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <!--Fim da nav-->

    <div class="login-form">
        
        <form class="md-form" action="" method="POST">
            <!-- campo de seguraça -->
            {{ form.csrf_token }}
            <h2 class="text-left">Meu perfil</h2>       
            
             <!-- Se houver, carrega mensagens do flash-->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-warning">
                        <ul class=flashes>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div> 
                {% endif %}
            {% endwith %}

            <!--Falta adicionar o botão para foto do usuário ARRUMAR
            <div class="addFoto">
                <input type="file" id="inputFile" style="display: none;">
                
                <img src="icons/iconAddFoto.png" class="btn-inputFoto" alt="" onclick="document.getElementById('inputFile').click();">
                <label id="textoPreview" for="btn-inputFoto" onclick="document.getElementById('inputFile').click();">+ Adicionar foto</label>
            </div>
            -->
            <div class="form-group">
                {{ form.username(class="form-control", placeholder="Usuário", disabled="") }}
                <!--<input type="text" class="form-control" placeholder="Nome" required="required">-->
            </div>
            
            <div class="form-group">
                {{ form.email(class="form-control", placeholder="E-mail") }}
                <!--<input type="text" class="form-control" placeholder="Email" required="required">-->
            </div>

            <div class="form-group">
                {{ form.password(class="form-control", placeholder="Senha") }}
                <!--<input type="password" class="form-control" placeholder="Senha" required="required">-->
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" name="edit">Confirmar edição</button>
            </div>
            
            <hr>
            
            <div class="text-center">
                <a href="{{ url_for('meuperfil') }}" class="btn"> < Voltar</a>      
            </div>
        </form> 
        
        
    </div> 
    
    <!--script pra adicionar preview foto de usuário
    <script>
        const inputFile = document.getElementById("inputFile")
        const addFoto = document.getElementsByClassName("addFoto")
        const fotoPreview = document.querySelector(".btn-inputFoto")
        const textoPreview = document.getElementById("textoPreview")

        inputFile.addEventListener("change", function(){
            const arquivo = this.files[0];

            if (arquivo){
                const fileReader = new FileReader();

                textoPreview.style.left = "52px"
                textoPreview.textContent = "* Alterar a foto"
                fotoPreview.style.left = "140px"
                
                fileReader.addEventListener("load", function(){
                    
                    
                    fotoPreview.setAttribute("src", this.result);
                })

                fileReader.readAsDataURL(arquivo)
            }
        })

    </script>-->
</body>
</html>