<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logincss.css') }}" >
    <!-- Fim 'link' arquivo CSS-->
</head>
<body>
     <!--header comum a todas as pages-->
     <header class="logo">
        <a>
            Cusco
        </a>
    </header>

    <div class="login-form">
        <!-- precisamos criar nosso arquivo próprio de execução em php-->
        
        <form class="md-form" action="" method="POST">
            <!-- campo de seguraça -->
            {{ form.csrf_token }}
            <h2 class="text-center">Login</h2>
            
            
            <!-- Se houver, carrega mensagens do flash-->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-warning">
                        <ul class=flashes>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div> 
                {% endif %}
            {% endwith %}
            
            <div class="form-group">
                
                
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/img/userIcon.png" alt=""></span>
                    {{ form.username(class="form-control", placeholder="Usuário") }}
                    <!--<input type="text" class="form-control" placeholder="E-mail" required="required">-->
                </div>

            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/img/passIcon.png" alt=""></span>
                    {{ form.password(class="form-control", type="password", placeholder="Senha") }}
                    <!--<input type="password" class="form-control" placeholder="Senha" required="required">-->
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
            <!-- Deixamos de fora por enquanto
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Lembre-se</label>
                <a href="#" class="pull-right">Esqueceu sua senha?</a>
            </div> 
            -->

            <!--Aqui vai também o login com google-->
            <div class="text-center">
                <a href="{{ url_for('registro') }}" class="btn">Não tem uma conta? Cadastre-se</a>      
            </div>
        </form>
        
    </div> 
    
   
</body>
</html>