<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cusco - Meus pets</title>

    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/meuspetscss.css') }}">
    <!-- Fim 'link' arquivo CSS-->
</head>

<body>

    <div class="container-fluid">
    
    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="{{ url_for('meuspets') }}">
            Cusco
        </a>
    </header>
   
    <!--Navbar que vai ao fundo-->
    <nav>
    <div class="barra">
        <ul class="nav">
            <li>
                <div class="btnMeusPets">
                    <a id="meusPets" href="{{ url_for('meuspets') }}"> 
                        <img class="iconNavbar" src="/static/img/petIconBlue.png" alt="">Meus Pets
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id= "acompanhamento" href="{{ url_for('acompanhamento') }}"><img class="iconNavbar" id="iconHeart" src="/static/img/iconHeart.png" alt="">
                        Acompanhamento
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id="meuperfil" href="{{ url_for('meuperfil') }}">
                        <img class="iconNavbar" id="userIcon" src="/static/img/userIcon.png">
                        Meu Perfil
                        
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
    <!--Fim da nav-->

    <div class="login-form">
        <div class="box">
        <h2 class="text-left">Meus pets</h2>

        
        <!-- Se houver, carrega mensagens do flash-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-warning">
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endif %}
        {% endwith %}
        
{% if dog_data != 0 %}
{% for dogs in range(dogs_in_list) %}
    <div class="divPet"  onclick="Acompanhamento()"><!-- DEIXAR MELHOR A VISUALIZAO DE QUE PODE SER CLICADO -->
        
        <div class="fotoPet">
            <img src="/static/img/petIcon.png" alt="">  
        </div>

        <div class="infoPet">
            <h4>{{ dog_data[dogs][0] }}</h4>
            <p> 
                <label>ID:</label> {{ dog_data[dogs][4] }}<br>
                <label>Idade:</label> {{ dog_data[dogs][1] }} anos<br>
                <label>Raça:</label> {{ dog_data[dogs][2] }} <br>
                <label>Peso:</label> {{ dog_data[dogs][3] }} KG<br>
                <label>Última freq. card.:</label> Não configurado
            </p>
        </div>
        
    </div>
    <br>
{% endfor %}
{% endif %}
    <br>

    <hr>

        <div class="text-center">
            <a href="{{ url_for('cadastropet') }}" class="btn">+ Cadastrar Pet</a>      
        </div>

        <div class="text-center">
            <a href="{{ url_for('adicionapet') }}" class="btn">+ Adicionar Pet</a>      
        </div>
    </div>
       
    </div> 
</div>

<script>
//funcao que redirecionar para a pagina acompanhamento
    function Acompanhamento()
    {
        location.href= "{{ url_for('acompanhamento') }}"
    }
</script>  


</body>
</html>