<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>

    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registercss.css') }}">
    <!-- Fim 'link' arquivo CSS-->
</head>
<script language="JavaScript" src="JS/registerjs.js"></script>

<body>
     <!--header comum a todas as pages-->
     <header class="logo">
        <a>
            Cusco
        </a>
    </header>
    
    <div class="login-form">
        <!-- precisamos criar nosso arquivo próprio de execução em php-->
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Cadastre-se</h2>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/img/userIcon.png" alt=""></span>
                    <input type="text" class="form-control" placeholder="Nome" required="required" >
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/img/iconMail.png" alt=""></span>
                    <input type="text" class="form-control" placeholder="E-mail" required="required" >
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/img/passIcon.png" alt=""></span>
                    <input type="password" class="form-control" placeholder="Senha" required="required">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" >Cadastre-se</button>
            </div>
           
            <div class="text-center">
                <a href="{{ url_for('login') }}" class="btn">Já possuo uma conta</a>      
            </div>
        </form>
        
    </div> 

</body>
</html>