<!--PÁGINA BASE PARA TODAS AS OUTRAS (MENOS AS REFERENTES À LOGIN-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    
    <!-- 'Link' arquivo CSS (aqui o href será alterado com o padrão Flask)-->
    <link rel="stylesheet" type="text/css" href="CSS/base.css" >
    <!-- Fim 'link' arquivo CSS-->
</head>
<body>
    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="meuspets.html">
            Cusco
        </a>
    </header>

      <!--Navbar que vai ao fundo-->
      <nav>
        <div class="barra">
            <ul class="nav">
                <li>
                    <div class="btnMeusPets">
                        <a id="meusPets" href="meuspets.html"> 
                            <img class="iconNavbar" src="icons/petIconBlue.png" alt="">Meus Pets
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id= "acompanhamento" href="#"><img class="iconNavbar" id="iconHeart" src="icons/iconHeart.png" alt="">
                            Acompanhamento
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id="meuperfil" href="meuperfil.html">
                            <img class="iconNavbar" id="userIcon" src="icons/userIcon.png">
                            Meu Perfil
                            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <!--Fim da nav-->


    
</body>
</html>