<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="CSS/cadastroPetcss.css" >
    <!-- Fim 'link' arquivo CSS-->
</head>
<body>
     <!--
        Header e nav provém da página base, depois de configurado o link correto com o Flask, apagar para teste.
    -->

    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="meuspets.html">
            Cusco
        </a>
    </header>

      <!--Navbar que vai ao fundo-->
      <nav>
        <div class="barra">
            <ul class="nav">
                <li>
                    <div class="btnMeusPets">
                        <a id="meusPets" href="meuspets.html"> 
                            <img class="iconNavbar" src="icons/petIconBlue.png" alt="">Meus Pets
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id= "acompanhamento" href="#"><img class="iconNavbar" id="iconHeart" src="icons/iconHeart.png" alt="">
                            Acompanhamento
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id="meuperfil" href="meuperfil.html">
                            <img class="iconNavbar" id="userIcon" src="icons/userIcon.png">
                            Meu Perfil
                            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <!--Fim da nav-->

    <div class="login-form">
        
        
        <form class="md-form" action="/examples/actions/confirmation.php" method="post" enctype="multipart/form-data">
            <h2 class="text-left">Novo Pet</h2>       
             
            <!--Input para add foto do pet-->
            <!--Ainda falta script js para receber a foto e mostrar preview-->
            <div class="addFoto">
                <input type="file" id="inputFile" style="display: none;">
                <img src="icons/iconAddFoto.png" class="btn-inputFoto" alt="" onclick="document.getElementById('inputFile').click();">
                <label for="btn-inputFoto" onclick="document.getElementById('inputFile').click();">+ Adicionar foto</label>
            </div>
            
            
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" name="nome-pet" required="required">
            </div>
            
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Idade" name="idade-pet" required="required">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" placeholder="Peso (em Kg)" name="peso-pet" required="required">
            </div>

            <!--Select para a raça-->
            <div class="form-group">
                <select class="form-control custom-select custom-select-lg mb-3" name="raca">
                    <option selected value="raca">Raça</option>
                    <option value="vira-lata">Vira-Lata</option>
                    <option value="pastor">Pastor Alemão</option>
                    <option value="salsicha">Salsicha</option>
                    <option value="golden">Golden Retriever</option>
                    <option value="labrador">Labrador</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
            
            <div class="form-group">
                <button type="reset" class="btn btn-danger btn-block">Apagar</button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Salvar</button>
            </div>
           

            <hr>
        <div class="text-center">
            <a href="meuspets.html" class="btn"> < Voltar</a>      
        </div>
         
        </form>
        
    </div> 
    
    
</body>
</html>