<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pet</title>
    
    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="CSS/meuperfilcss.css" >
    <!-- Fim 'link' arquivo CSS-->

</head>
<body>
    
    <!--
        Header e nav provém da página base, depois de configurado o link correto com o Flask, apagar para teste.
    -->

    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="meuspets.html">
            Cusco
        </a>
    </header>

      <!--Navbar que vai ao fundo-->
      <nav>
        <div class="barra">
            <ul class="nav">
                <li>
                    <div class="btnMeusPets">
                        <a id="meusPets" href="meuspets.html"> 
                            <img class="iconNavbar" src="icons/petIconGray.png" alt="">Meus Pets
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id= "acompanhamento" href="acompanhamento.html"><img class="iconNavbar" id="iconHeart" src="icons/iconHeart.png" alt="">
                            Acompanhamento
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="btnMeusPets">
                        <a id="meuperfil" href="meuperfil.html">
                            <img class="iconNavbar" id="userIcon" src="icons/userIconBlue.png">
                            Meu Perfil
                            
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <!--Fim da nav-->

    <div class="login-form">
        <!-- precisamos criar nosso arquivo próprio de execução em php-->
        
        <form class="md-form" action="/examples/actions/confirmation.php" method="GET">
            <h2 class="text-left">Meu perfil</h2>       
            
            <!--Falta adicionar o botão para foto do usuário-->
            <div class="addFoto">
                <input type="file" id="inputFile" style="display: none;">
                <img src="icons/iconAddFoto.png" class="btn-inputFoto" alt="" onclick="document.getElementById('inputFile').click();">
                <label for="btn-inputFoto" onclick="document.getElementById('inputFile').click();">+ Adicionar foto</label>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" required="required">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" required="required">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" required="required">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block">Editar</button>
            </div>


            <hr>
            
            <div class="form-group">
                <!--Aqui encaminha de volta pro login somente como exemplo, na prática tem que encerrar sessão-->
                <button onclick="location.href = 'login.html'" class="btn btn-danger btn-block">Sair da conta</button> 
            </div>
        </form> 
        
        
    </div> 
    
</body>
</html>