<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus pets</title>

    <!--Link para fontes Google-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet"> 

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Fim Bootstrap-->
    <!-- 'Link' arquivo CSS-->
    <link rel="stylesheet" type="text/css" href="CSS/meuspetscss.css">
    <!-- Fim 'link' arquivo CSS-->
</head>
<script language="JavaScript" src="JS/registerjs.js"></script>

<body>
     <!--
        Header e nav provém da página base, depois de configurado o link correto com o Flask, apagar para teste.
    -->

    <div class="container-fluid">
    
    <!--header comum a todas as pages-->
    <header class="logo">
        <a href="meuspets.html">
            Cusco
        </a>
    </header>
   
    <!--Navbar que vai ao fundo-->
    <nav>
    <div class="barra">
        <ul class="nav">
            <li>
                <div class="btnMeusPets">
                    <a id="meusPets" href="meuspets.html"> 
                        <img class="iconNavbar" src="icons/petIconBlue.png" alt="">Meus Pets
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id= "acompanhamento" href="acompanhamento.html"><img class="iconNavbar" id="iconHeart" src="icons/iconHeart.png" alt="">
                        Acompanhamento
                    </a>
                </div>
            </li>

            <li>
                <div class="btnMeusPets">
                    <a id="meuperfil" href="meuperfil.html">
                        <img class="iconNavbar" id="userIcon" src="icons/userIcon.png">
                        Meu Perfil
                        
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
    <!--Fim da nav-->

    <div class="login-form">
        <!-- precisamos criar nosso arquivo próprio de execução em php -->
        <div class="box">
        <h2 class="text-left">Meus pets</h2>
        
        <!--Aqui temos que criar um script pra mostrar essa div somente se houver pet registrado-->
            <div class="divPet">
               
                <div class="fotoPet">
                  <img src="icons/petIcon.png" alt="">  
                </div>

                <div class="infoPet" onclick="location.href = 'acompanhamento.html'; ">
                    <h4>Cachorro 1</h4>
                    <p> 
                        <label>Idade:</label> 2 anos <br>
                        <label>Peso:</label> 4.5 Kg <br>
                        <label>Raça:</label> Vira-Lata <br>
                        <label>Última freq. card.:</label> 75 BPM
                    </p>
                </div>
            </div>

            <br>

            <hr>

        <div class="text-center">
            <a href="cadastropet.html" class="btn">+ Adicionar Pet</a>      
        </div>
    </div>
       
    </div> 
</div>

    


</body>
</html>